body {
  background: #92d4ff;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}

#image-container {
  margin-top: 50px;
}

#image-root {
  border: 50px solid black;
  cursor: zoom-in;
}
